<table>

	<thead><tr>
		<td>Filename</td>
		<td>Size in Bytes</td>
		<td>Uploaded</td>
		<td>Description</td>
		<td>Edit Info</td>
	</tr></thead>

	{{#each file}}
		<tr>
			<td>{{fileName}}</td>
			<td>{{sizeInBytes}}</td>
			<td>{{uploaded}}</td>
			<td>{{description}}</td>
			<td>{{editInfo}}</td>
		</tr>
	{{/each}}

</table>
<div data-drobbable></div>
